.env
.env.*

.vercel/
.now/
.nowignore
project.json
.vercelignore

__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
*.egg

*.sqlite3
*.db
*.sqlite

.idea/
.vscode/
.vscode-test/
.idea_modules/
*.swp
*.swo
*.bak
*.tmp

node_modules/
package-lock.json
yarn.lock
npm-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

dist/
build/
out/

.DS_Store
Thumbs.db
*.ini
*.lnk
ntuser.*

Dockerfile
docker-compose.yml
.dockerignore

.github/workflows/*.log
.circleci/*.log
.travis.yml
.azure-pipelines/

*.log
*.pid

*.docx
*.xlsx
*.pdf
*.zip
*.jpg
*.png

*.exe
*.dll
*.bat
*.sh

Procfile
runtime.txt
messages.db
